@model TodoViewModel

<div class="row justify-content-center">
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.Items)
            {
                <tr>
                    <td class="todos-column" scope="row">@t.Id</td>
                    <td class="todos-column">@t.Name</td>
                    <td>
                        <input type="submit" value="Delete" onclick="deleteTodo(@t.Id)" class="btn btn-danger"/>
                        <input type="submit" value="Update" onclick="populateForm(@t.Id)" class="btn btn-primary" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
